<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>My Visualizations</h1>
      </div>
    </div>
    <div class="col-sm-12">
      
      <% if @visualizations.present? %>
        <div class="table-wrapper">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Views</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% @visualizations.each do |visualization| %>
                <tr>
                  <td><%= current_user == visualization.user ? (link_to visualization.title, visualization) : visualization.title %></td>
                  <td><%= visualization.type.humanize %></td>
                  <td><%= visualization.views_counter_cache %></td>
                  <td>
                    <%= link_to 'Preview', standalone_visualization_path(visualization), target: '_blank', class: 'btn btn-xs btn-primary' %>&nbsp;
                    <%= link_to 'Edit', edit_visualization_path(visualization), class: 'btn btn-xs' %>&nbsp;
                    <%= link_to 'Delete', visualization, method: :delete, data: { confirm: 'Deleting this visualization. Are you sure?' }, class: 'btn btn-xs btn-primary btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate @visualizations %>
        </div>

      <% else %>
        <p><em>You have not created any visualizations</em></p>
      <% end %>
    </div>
  </div>
</div>
