<!DOCTYPE html>
<html>
<head>
  <title>Insightful</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <%= stylesheet_link_tag    'mfb/mfb.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'draw/'+@visualization.type.dasherize %>
  <%= javascript_include_tag 'mfb/mfb.min.js' %>
  <%= csrf_meta_tags %>
  <meta property="og:url"         content="<%= request.original_url %>" />
  <meta property="og:type"        content="<%= @visualization.type.humanize %>" />
  <meta property="og:title"       content="<%= @visualization.title.humanize %>" />
  <meta property="og:description" content="<%= @visualization.caption %>" />
  <style>

    @media print {
      .download-btn {
        display: none;
      }
    }

    body {
      background: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    a:hover, a:focus {
      color: darkorange;
    }

    .visualization-container {
        height: 100%;
    }

    .title {
      margin-top: 0;
    }

    @media all and (max-width: 959px) and (min-width: 700px) {
    .title{
        font-size: 3vw;
      }
    }

    @media all and (max-width: 699px) and (min-width: 500px) {
    .title{
        font-size: 4vw;
      }
    }

    @media all and (max-width: 499px) and (min-width: 50px) {
    .title{
        font-size: 5vw;
      }
    }

    path {
      stroke: #fff;
      fill-rule: evenodd;
    }

    #percentage {
      font-size: 2.5em;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000 !important;
      shape-rendering: crispEdges;
    }

    .tooltip{
      text-anchor: middle;
      font-family: sans-serif;
      /*font-size: 10px;*/
      font-weight: bold;
      fill:black; 
    }

    .caption {
      width: 100%;
      text-align: center;
    }

    .node right: ;ect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }

    .link {
      fill: none;
      stroke: #000;
      stroke-opacity: .2;
    }

    .link:hover {
      stroke-opacity: .5;
    }

    .list-group {
      min-height: 25px;
    }

    .panel-body > .checkbox {
      margin-bottom: 0;
      margin-top: 0;
    }

    .panel-body.selected {
      background: #efefef;
    }

    .panel-body.selected:hover {
      background: #fafafa;
    }

    .panel-body:hover {
      background: #eaeaea;
    }

    .credit-link {
      position: absolute;
      right: 10px;
      bottom: 5px;
      margin: 0;
    }

    li.mfb-component__wrap {
        opacity: .3;
        transition: .6s opacity;
    }

    li.mfb-component__wrap:hover {
        opacity: 1;
    }

    .form-group {
      margin: 0; 
      width: 35%;
    }

    #loadingPlaceholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      z-index: 999;
      background: #c5523f;
    }

    #loadingCenter {
      margin: auto;
    }

</style>
</head>
<body>
  <div class="visualization-container">
      <div id="loadingPlaceholder"><div id="loadingCenter"><%= render partial: 'layouts/squares_loading' %></div></div>
    <!-- Content Start -->
      <h2 class="title"><%= @visualization.title %></h2>
      <div id="sequence"></div>
      <div id="chart"></div>
      <em class="caption"><%= @visualization.caption %></em>
      <p class="credit-link"><%= link_to 'Insightful', root_url, target: '_blank' %> visualization, updated <%= I18n.l @visualization.modified.localtime, format: :long %></p>
  </div>

  <ul id="menu" class="mfb-component--tr mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
      <a href="#" class="mfb-component__button--main">
        <i class="mfb-component__main-icon--resting ion-android-share-alt"></i>
        <i class="mfb-component__main-icon--active ion-close-round"></i>
      </a>
      <ul class="mfb-component__list">
        <li>
          <a onclick="openPopup(this)" data-url="http://twitter.com/home?status=<%= URI.encode(@visualization.title.humanize+': '+@visualization.title.humanize) %>+<%= URI.encode(request.original_url) %>" data-mfb-label="Tweet to Twitter" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-twitter"></i>
          </a>
        </li>
        <li>
          <a onclick="openPopup(this)" data-url="http://www.facebook.com/share.php?u=<%= URI.encode(request.original_url) %>&t=<%= URI.encode(@visualization.title.humanize) %>" data-mfb-label="Post to Facebook" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-facebook"></i>
          </a>
        </li>
        <li>
          <a onclick="openPopup(this)" data-url="https://plus.google.com/share?url=<%= URI.encode(request.original_url) %>" data-mfb-label="Share to Google+" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-googleplus"></i>
          </a>
        </li>
        <li>
          <a data-mfb-label="Download as image" class="mfb-component__button--child" data-toggle="modal" data-target="#myModal">
            <i class="mfb-component__child-icon ion-image"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Button trigger modal -->
  <!-- <a href="#" class="download-btn waves-effect" data-toggle="modal" data-target="#myModal">
    <i class="material-icons">share</i>
  </a> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Share</h4>
        </div>
        <div class="modal-body">
          <h4>Iframe</h4>
          <div class="form-group" style="width: 100%">
            <textarea class="form-control" id="iframe-content"></textarea>
          </div>
          <h4>Image</h4>
          <form id="saveForm" class="form-inline" action="" target="_blank">
          <input hidden name="save" placeholder="Height" value="true">

            <div class="form-group">
              <label class="sr-only" for="widthInput">Width</label>
              <div class="input-group">
                <div class="input-group-addon">Width</div>
                <input type="number" class="form-control" id="widthInput" name="width" value="800">
                <div class="input-group-addon">px</div>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only" for="heightInput">Height</label>
              <div class="input-group">
                <div class="input-group-addon">Height</div>
                <input type="number" class="form-control" id="heightInput" name="height" value="600">
                <div class="input-group-addon">px</div>
              </div>
            </div>

            <button class="btn btn-primary btn-raised">Generate</button>
          </form>

          <div class="well" id="image-link" style="display: none"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function() {
      $("#iframe-content").text('<iframe src="<%= standalone_visualization_url(@visualization) %>" frameborder="0" height="100%" width="100%"></iframe>');

      if(getParameterByName('height'))
        $("body").height(getParameterByName('height')+"px");
      if(getParameterByName('width'))
        $("body").width(getParameterByName('width')+"px");

      var req = $.get("<%= datum_path(@visualization.datum, format: :json) %>");
      $.when(req).done(function(res) {
        data = res;

        visualize(res, <%= @visualization.selections.html_safe %>);

        $("#loadingPlaceholder").fadeOut();

        if(getParameterByName('save') == "true")
          setTimeout(function() {save();}, 800);
      });

    });

    function save() {
      screenGrabber('<%= @visualization.title.blank? ? @visualization.id : @visualization.title.titleize.delete(' ').underscore %>');
    }

    function openPopup(link) {
       window.open(link.dataset.url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
       return false;
    }

    $("#saveForm").on('submit', function(e) {
      window.open(
        this.action+"?"+$("#saveForm").serialize(),
        '',
        'menubar=no,toolbar=no,resizable=no,scrollbars=no,width='+$("#widthInput").val()+',height='+$("#heightInput").val()
      );
      return false;
    })

  </script>
</body>
</html>
