<p id="notice"><%= notice %></p>

<h1>Listing Data</h1>

<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Modified</th>
        <th>Name</th>
        <th>Items</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @data.each do |datum| %>
        <tr>
          <td><%= I18n.l datum.updated_at.localtime, format: :long %></td>
          <td><%= datum.name %></td>
          <td><%= datum.content.lines.count %></td>
          <td><%= link_to 'Show', datum %></td>
          <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
          <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @data %><br>

<%= link_to 'New Datum', new_datum_path, class: 'btn btn-success waves-effect btn-raised' %>
