<% visualizations = @datum.visualizations.order("updated_at DESC").page(params[:page]) %>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="forms"><%= @datum.name %>
          <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_datum_path(@datum) %>
          <%= link_to '<i class="material-icons">file_download</i>'.html_safe, download_csv_datum_path(@datum) %>
        </h1>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Create visualizations</h3>

      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="thumb-container">
            <a href="<%= sankey_datum_path(@datum) %>" class="thumb-link">
              <p class="thumb-link-text">Sankey</p>
              <img src="<%= image_path('visualizations/sankey-medium.png') %>" class="thumb-img" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="thumb-container">
            <a href="<%= sunburst_datum_path(@datum) %>" class="thumb-link">
              <p class="thumb-link-text">Sunburst</p>
              <img src="<%= image_path('visualizations/sunburst-medium.png') %>" class="thumb-img" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="thumb-container">
            <a href="<%= stacked_bar_datum_path(@datum) %>" class="thumb-link">
              <p class="thumb-link-text">Stacked bar</p>
              <img src="<%= image_path('visualizations/stacked-bar-medium.png') %>" class="thumb-img" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="thumb-container">
            <a href="<%= normalized_stacked_bar_datum_path(@datum) %>" class="thumb-link">
              <p class="thumb-link-text">Normalized stacked bar</p>
              <img src="<%= image_path('visualizations/normalized-stacked-bar-medium.png') %>" class="thumb-img" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if !@datum.visualizations.blank? %>
    <div class="row">
      <div class="col-md-12">

        <h3>Visualizations</h3>

        <div class="table-wrapper">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Views</th>
                <th>Modified</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% visualizations.each do |visualization| %>
                <tr>
                  <td><%= visualization.title %></td>
                  <td><%= visualization.type.humanize %></td>
                  <td><%= visualization.views_counter_cache %></td>
                  <td><%= I18n.l visualization.updated_at.localtime, format: :long %></td>
                  <td>
                    <%= link_to 'Share', '', onclick: 'share("'+standalone_visualization_url(visualization)+'")', data: { toggle: :modal, target: "#myModal" }, class: 'btn btn-xs btn-primary' %>&nbsp;
                    <%= link_to 'Show', visualization, class: 'btn btn-xs btn-primary' %>&nbsp;
                    <%= link_to 'Preview', standalone_visualization_path(visualization), target: '_blank', class: 'btn btn-xs btn-primary' %>&nbsp;
                    <%= link_to 'Edit', edit_visualization_path(visualization), class: 'btn btn-xs' %>&nbsp;
                    <%= link_to 'Destroy', visualization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate visualizations %>

      </div>
    </div>

    <%= render partial: "layouts/share_modal" %>

    <script>
      var share = function(url) {
        $("#saveForm").attr('action', url);
        $("#url").val(url);
        $("#iframe-content").text('<iframe src="'+url+'" frameborder="0" height="100%" width="100%"></iframe>');
      }
    </script>
  <% end %>

</div>