<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @survey.user %>
</p>

<p>
  <strong>Public:</strong>
  <%= @survey.public %>
</p>

<p>
  <strong>Require login:</strong>
  <%= @survey.require_login %>
</p>

<p>
  <strong>Answer is editable:</strong>
  <%= @survey.answer_is_editable %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
