<!DOCTYPE html>
<html>
<head>
  <title>Insightful</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/nav" %>
  <div class="container">
    <%= alert notice, notice_type %>
    <% unless breadcrumbs.empty? %>
      <ul class="breadcrumb" style="margin-bottom: 5px;">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ul>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
